{% extends "base.html" %}

{% block content %}
    <h1>Welcome! Here to make an appointment? You've come to the right place</h1>
    <p1>Log in or continue as guest </p1>
    <p1>Login button AND guest button   </p1>
    <p1>If they pressed the guest button, Ask several questions</p1>
    <p1>Ok, *Given Name*, what is the reason for your visit? </p1>
    <p1>Drop Down with options  </p1>
    <p1>What date works best for you? These are our available dates and times:  </p1>
    <p1>Calendar with open spots being green and full spots being grayed out </p1>
    <p1>Submit button  </p1>
    <p1>Verification Prompt: Ok, Given Name, you're all set! We will see you at Selected Date. </p1>
{% endblock %}