{% extends "base.html" %}

{% block content %}
    <div style="max-width: 700px; margin: auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center;">Welcome! Here to make an appointment? You've come to the right place</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.reason_for_visit.label}}
            {{form.reason_for_visit()}}
            <br>
            {{form.appointment_date.label}}
            {{form.appointment_date()}}
            <br>
            {{form.appointment_time.label}}
            {{form.appointment_time()}}
            <br>
            {{form.submit}} 
        </form>
  </div>  
{% endblock %}